:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-bg-primary: #404040;
  --default-bg-secondary: #202020;
}

body {
  overflow: hidden;
  height: 99vh;
  padding: 0px;
  margin: 0px;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  overflow: hidden;
}

#desktop {
  display: flex;
  padding: 10px 10px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

.desktop-icon:hover {
  background-color: var(--default-bg-secondary);
}

#notifications {
  position: absolute;
  z-index: 9999;
  bottom: 1px;
  right: 10px;
  width: fit-content;
  height: 25vh;
  display: flex;
  flex-direction: column-reverse;
}

.notification {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--default-bg-primary);
  cursor: pointer;
}

.notification.enter {
  animation: fade-in-notify 0.5s ease-out;
}

.notification.exit {
  animation: fade-out-notify 0.5s ease-out;
}

.notification.success {
  border-color: greenyellow;
}

.notification.error {
  border-color: red;
}

.notification.warning {
  border-color: orange;
}

#top-nav {
  background-color: var(--default-bg-primary);
  width: 100%;
  height: 30px;
  display: flex;
  padding: 0px 10px
}

#system-info {
  display: flex;
  gap: 20px;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
}

.resize-handle.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.resize-handle.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resize-handle.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resize-handle.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.program-top-bar {
  position: relative;
  top: 1px;
  width: inherit;
  height: 25px;
  background: white;
  display: flex;
}

.program-title {
  padding-left: 5px;
  color: black;
  font-weight: 600;
  width: 100%;
  text-align: left;
}

.program-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-top: none;
  position: absolute;
}

.program-top-bar-button {
  background: white;
  align-self: center;
  margin-right: 5px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

@keyframes fade-in-notify {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-notify {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(20px);
  }
}