:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
}

.resize-handle.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.resize-handle.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resize-handle.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resize-handle.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.program-top-bar {
  position: relative;
  top: 1px;
  width: inherit;
  height: 25px;
  background: white;
  display: flex;
}

.program-title {
  padding-left: 5px;
  color: black;
  font-weight: 600;
  width: 100%;
  text-align: left;
}

.program-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-top: none;
  position: absolute;
}

.program-top-bar-button {
  background: white;
  align-self: center;
  margin-right: 5px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}